button {
  font-family: $font-fmaily;
  border: none;
  outline: none;
  box-shadow: $box-shadow;
  border-radius: 3px;
  transition: background 0.3s;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 3vw;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }

  &-item {
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;

    &--header {
      color: $very-dark-blue;
      font-size: 0.9rem;

      @media (max-width: $tablets) {
        display: none;
      }
    }

    &:hover {
      color: $soft-red;
      cursor: pointer;
    }

    &--login {
      width: 100px;

      button {
        width: 100%;
        padding: 10px;
        background: $soft-red;
        color: white;

        &:hover {
          border: 1px solid $soft-red;
          background: white;
          color: $soft-red;
          cursor: pointer;
        }
      }
    }
  }

  &--hamburger {
    display: none;

    @media (max-width: $tablets) {
      display: block;
      width: 18px;
      height: 15px;
      background: url("../images/icon-hamburger.svg");
    }
  }

  &--mobile {
    flex-direction: column;
    position: absolute;
    background: $very-dark-blue;
    height: 100vh;
    min-height: 349px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0.95;

    header,
    &__content,
    footer {
      width: 100%;
      display: flex;
    }

    header {
      justify-content: space-between;
      height: 100px;
      align-items: center;

      .close {
        background: url("../images/icon-close.svg");
        width: 16px;
        height: 15px;
      }
    }

    &__content {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 1;

      .item,
      button {
        width: 80%;
        color: white;
        font-weight: 500;
        // font-size: 1.75rem;
        font-size: 4vw;
        text-transform: uppercase;
      }

      .item {
        border-bottom: 1px white solid;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100px;
        height: 10vw;

        &:first-child {
          border-top: 1px white solid;
        }
      }

      button {
        margin-top: 30px;
        border: 1px solid white;
        border-radius: 10px;
        background: unset;
        // height: 70px;
        height: 9vw;
      }
    }

    footer {
      padding-bottom: 50px;

      .social-container {
        flex-grow: 0;
        gap: 40px;
      }
    }
  }
}

.logo {
  &:hover {
    cursor: pointer;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3ch 2ch 0;
  gap: 2vw;

  @media screen and (max-width: $desktops) {
    width: 75%;
  }

  @media screen and (max-width: $tablets) {
    width: 100%;
    gap: 20px;
  }

  @media screen and (max-width: $mobile) {
    padding: 10%;
    align-items: center;
  }

  &--title {
    font-weight: 500;
    font-size: 2.5rem;
    color: $very-dark-blue;

    &.small {
      font-size: 2rem;
    }
  }

  &--description {
    color: $grayish-blue;
    line-height: 1.5;
  }

  .center {
    text-align: center;
  }
}

.social-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;

  &--item {
    width: 24px;
    height: 24px;

    &:first-child {
      mask: url("../images/icon-facebook.svg");
      background-color: white;
    }

    &:last-child {
      mask: url("../images/icon-twitter.svg");
      background-color: white;
      height: 20px;
    }

    &:hover {
      background: $soft-red;
      cursor: pointer;
    }
  }
}

.blue-bg-container {
  background: $soft-blue;
  width: 40%;
  height: 350px;
  position: absolute;
  z-index: -10;

  &-simple-bookmark {
    border-bottom-left-radius: 40%;
    border-top-left-radius: 40%;
    bottom: 0;
    right: 0;
  }

  &-feature {
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    left: 0;
    bottom: 0;
    width: 20%;
  }
}
