.wrapper {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 100px;
}

section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.simple-bookmark-container,
.section-container,
.extnesion-container,
.footer-container {
  width: 90%;
}

.section-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__simple-bookmark {
    display: flex;
    width: 100%;

    @media (max-width: $tablets) {
      flex-direction: column;
    }

    .simple-bookmark-bg {
      width: 50%;
      background-size: contain;
      min-height: 350px;
      background-image: url("../images/illustration-hero.svg");
      background-repeat: no-repeat;
      background-position: top right;

      @media (min-width: $large) {
        background-position: top right;
        background-size: unset;
        height: 466px;
      }

      @media (max-width: $desktops) {
        background-position: center;
        min-height: 300px;
      }

      @media (max-width: $tablets) {
        margin-top: 30px;
        width: 100%;
        min-height: 300px;
      }

      @media (max-width: $mobile) {
        min-height: 250px;
      }
    }

    .downloand-container {
      display: flex;
      gap: 20px;
      height: 45px;

      @media (max-width: $tablets) {
        justify-content: center;
      }

      button {
        width: 170px;
        color: $very-dark-blue;
        background-color: lightgray;

        @media (max-width: $mobile) {
          padding: 0 10px;
          width: 130px;
        }

        &:hover {
          border: 1px solid $very-dark-blue;
          background: white;
          cursor: pointer;
          font-weight: 500;
          //   transition: background 0.5s;
        }

        &.chrome {
          background-color: $soft-blue;
          color: white;

          &:hover {
            border: 1px solid $soft-blue;
            color: $soft-blue;
            background-color: white;
          }
        }
      }
    }
  }

  &__feature {
    display: flex;
    width: 100%;
    flex-direction: column;

    &--navigation {
      display: flex;
      padding: 3vw 0;
      justify-content: center;

      @media (max-width: $mobile) {
        flex-direction: column;
        width: 100%;
        padding-bottom: 10%;
      }

      .item {
        color: $very-dark-blue;
        font-size: 0.9rem;
        border-bottom: 1px $grayish-blue solid;
        padding: 0 4vw 16px;

        @media (max-width: $mobile) {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5%;

          &:first-child {
            border-top: 1px $grayish-blue solid;
          }
        }

        &:hover {
          color: $soft-red;
          cursor: pointer;
        }

        &.active {
          border-bottom: 3px $soft-red solid;
        }
      }
    }

    &--content {
      width: 100%;
      display: flex;

      @media (max-width: $desktops) {
        padding-bottom: 25px;
      }

      @media (max-width: $tablets) {
        flex-direction: column;
      }

      @media (max-width: $desktops) {
        padding-bottom: 0;
      }

      .bg {
        width: 50%;

        @media (max-width: $tablets) {
          width: 100%;
        }

        &-0 {
          background: url("../images/illustration-features-tab-1.svg") center
            top no-repeat;
        }

        &-1 {
          background: url("../images/illustration-features-tab-2.svg") center
            top no-repeat;
        }

        &-2 {
          background: url("../images/illustration-features-tab-3.svg") center
            top no-repeat;
        }

        &-0,
        &-1,
        &-2 {
          background-size: contain;
          min-height: 316px;

          @media (max-width: $desktops) {
            min-height: 300px;
          }

          @media (max-width: $mobile) {
            min-height: 250px;
          }
        }
      }
    }

    .fade {
      &-enter {
        opacity: 0;
      }
      &-enter-active {
        opacity: 1;
      }
      &-exit {
        opacity: 1;
      }
      &-exit-active {
        opacity: 0;
      }
      &-enter-active,
      &-exit-active {
        transition: opacity 500ms;
      }
    }
  }

  &__extensions {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin: 3vw 0;

    @media (max-width: $desktops) {
      gap: 25px;
    }

    @media (max-width: $tablets) {
      justify-content: space-between;
      gap: 0;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }

    .extension {
      width: 200px;
      height: 300px;
      box-shadow: $box-shadow;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: $desktops) {
        width: 25%;
      }

      @media (max-width: $tablets) {
        min-width: 150px;
      }

      @media (max-width: $mobile) {
        width: 200px;
      }

      &--logo {
        width: 100%;
        height: 50%;

        &.chrome {
          background: url("../images/logo-chrome.svg") no-repeat center;
        }

        &.firefox {
          background: url("../images/logo-firefox.svg") no-repeat center;
        }

        &.opera {
          background: url("../images/logo-opera.svg") no-repeat center;
        }
      }

      &--info {
        border-bottom: 3px dotted $grayish-blue;
        width: 100%;
        text-align: center;
        padding-bottom: 1vw;

        &__name {
          color: $very-dark-blue;
          font-weight: 500;
        }

        &__version {
          color: $grayish-blue;
          font-size: 0.8rem;
          margin: 1ch 0;
        }
      }

      &--install {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 90%;
          padding: 0 10px;
        }
      }

      &:nth-child(2) {
        margin-top: 20px;

        @media (max-width: $mobile) {
          margin-top: 0;
        }
      }

      &:last-child {
        margin-top: 40px;
        @media (max-width: $mobile) {
          margin-top: 0;
        }
      }
    }
  }

  &__questions {
    width: 40%;
    padding: 2% 0;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $desktops) {
      width: 65%;
      padding-bottom: 4%;
    }

    @media screen and (max-width: $tablets) {
      width: 100%;
      padding-bottom: 8%;
    }

    .question-container {
      border-bottom: 1px solid $grayish-blue;
      position: relative;
      z-index: 10;
      background: white;

      &:first-child {
        border-top: 1px solid $grayish-blue;
      }

      .expand {
        &-enter {
          background: white;
          max-height: 68px;

          @media (max-width: $mobile) {
            max-height: 91px;
          }
        }

        &-enter-active {
          background: white;
          max-height: 400px;
          transition: height 0.4s;
        }

        &-exit {
          background: white;
          max-height: 400px;
        }

        &-exit-active {
          background: white;
          max-height: 68px;
          transition: height 0.4s;

          @media (max-width: $mobile) {
            max-height: 91px;
          }
        }
      }
    }

    .question {
      padding: 2ch 0;
      display: flex;
      justify-content: space-between;
      padding-right: 5%;
      cursor: pointer;

      &--title {
        color: $very-dark-blue;
        font-weight: 500;
      }

      &--icon {
        mask: url("../images/icon-arrow.svg");
        background-color: #5267df;
        width: 18px;
        height: 12px;
        align-self: center;

        &.close {
          transform: scaleY(-1);
          background-color: $soft-red;
        }
      }
    }

    .answer {
      color: $grayish-blue;
      line-height: 1.5;
      padding: 2ch 0;
      animation: open-answer 0.4s;
      overflow: hidden;
    }
  }

  button {
    background-color: $soft-blue;
    color: white;
    padding: 0 20px;
    width: 110px;
    height: 45px;

    &:hover {
      border: 1px solid $soft-blue;
      color: $soft-blue;
      background-color: white;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.section-container__simple-bookmark .text-container,
.section-container__feature--content .text-container {
  @media (max-width: $desktops) {
    padding-top: 0;
  }

  @media (max-width: $tablets) {
    padding: 40px 0 0 0;
    align-items: center;

    &--title {
      text-align: center;
    }

    &--description {
      text-align: center;
    }
  }
}

.contacts-wrapper {
  margin-top: 5%;
  width: 100%;
  background: $soft-blue;
  display: flex;
  justify-content: center;
  padding: 1% 0;

  .contacts-container {
    display: inherit;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 3ch 0;
    color: white;
    gap: 2ch;

    @media screen and (max-width: $desktops) {
      width: 50%;
    }

    @media screen and (max-width: $tablets) {
      width: 90%;
    }

    &--joined {
      font-size: 0.8rem;
      letter-spacing: 0.5ch;
      text-transform: uppercase;
    }

    &--stay-up {
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
    }

    .contact-form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;

      @media screen and (max-width: $tablets) {
        flex-direction: column;
      }

      input {
        border: none;
        outline: none;
        height: 45px;
        border-radius: 3px;
        width: 65%;
        padding: 3%;
        color: $very-dark-blue;
        position: relative;
        z-index: 10;

        @media screen and (max-width: $tablets) {
          width: 100%;
          margin-bottom: 40px;
        }

        ::placeholder {
          color: $grayish-blue;
        }
      }

      .error {
        background: url("../images/icon-error.svg") no-repeat right;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 57%;
        display: flex;
        align-self: center;
        z-index: 11;
        animation: show-error-icon 0.4s forwards;

        @media screen and (max-width: $tablets) {
          left: 93%;
          top: 10%;
        }
      }

      .error-msg {
        width: 65%;
        background: #fa5757;
        color: white;
        position: absolute;
        font-size: 0.7rem;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 0 3%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        animation: show-error-msg 0.4s forwards;
        z-index: 1;

        @media screen and (max-width: $tablets) {
          width: 100%;
        }
      }

      button {
        height: 45px;
        width: 30%;
        background-color: $soft-red;
        color: white;

        @media screen and (max-width: $tablets) {
          width: 100%;
        }

        &:hover {
          cursor: pointer;
          color: $soft-red;
          background-color: white;
          border: 1px solid $soft-red;
        }
      }
    }
  }
}

footer {
  background: $very-dark-blue;
  height: 70px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    height: fit-content;
    padding: 25px 0;
  }

  .footer-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5%;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      gap: 25px;
    }

    .social-container {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 20px;
      justify-content: flex-end;

      &--item {
        width: 24px;
        height: 24px;

        &:first-child {
          mask: url("../images/icon-facebook.svg");
          background-color: white;
        }

        &:last-child {
          mask: url("../images/icon-twitter.svg");
          background-color: white;
          height: 20px;
        }

        &:hover {
          background: $soft-red;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: $mobile) {
  @keyframes show-error-msg {
    0% {
      bottom: 0;
    }

    100% {
      bottom: -30px;
    }
  }
}

@media screen and (max-width: $mobile) {
  @keyframes show-error-msg {
    0% {
      top: 0;
    }
    100% {
      top: 45px;
    }
  }
}

@keyframes open-answer {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes show-error-icon {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(100%);
  }
}
