$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

$font-fmaily: "Rubik";
$box-shadow: 0 2px 5px 0 rgba(black, 0.2);
