@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import "variables";

* {
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: $font-fmaily;
  border: none;
  outline: none;
  box-shadow: $box-shadow;
  border-radius: 3px;
}

body {
  font-size: 18px;
  font-family: $font-fmaily;
}

.wrapper {
  //   width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 100px;

  .logo {
    background: url("../images/logo-bookmark.svg");
    width: 148px;
    height: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  .nav-items-container {
    display: flex;
    align-items: center;
    gap: 3vw;

    &--item {
      color: $very-dark-blue;
      text-transform: uppercase;
      font-size: 0.9rem;

      &:hover {
        color: $soft-red;
        cursor: pointer;
      }
    }

    &--login {
      width: 100px;

      button {
        width: 100%;
        padding: 10px;
        background: $soft-red;
        color: white;

        &:hover {
          border: 1px solid $soft-red;
          background: white;
          color: $soft-red;
          cursor: pointer;
        }
      }
    }
  }
}

.blue-bg-container {
  background: $soft-blue;
  width: 40%;
  height: 350px;
  position: absolute;
  z-index: -10;
}

section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
// .page-content {

// }
.simple-bookmark-container,
.section-container,
.extnesion-container {
  width: 90%;
}

.simple-bookmark-container {
  background: url("../images/illustration-hero.svg") no-repeat right;
  height: 466px;

  .downloand-container {
    display: flex;
    gap: 2vw;
    height: 45px;

    button {
      width: fit-content;
      color: $very-dark-blue;
      background-color: lightgray;
      width: 170px;

      &:hover {
        border: 1px solid $very-dark-blue;
        background: white;
        cursor: pointer;
        font-weight: 500;
      }

      &.chrome {
        background-color: $soft-blue;
        color: white;

        &:hover {
          border: 1px solid $soft-blue;
          color: $soft-blue;
          background-color: white;
        }
      }
    }
  }
}

.blue-bg-container-simple-bookmark {
  @extend .blue-bg-container;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
  bottom: 0;
  right: 0;
}

.section-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__navigation {
    display: flex;
    padding: 3vw 0;

    &--item {
      color: $very-dark-blue;
      font-size: 0.9rem;
      border-bottom: 1px $grayish-blue solid;
      padding: 0 4vw 16px;

      &:hover {
        color: $soft-red;
        cursor: pointer;
      }

      &.active {
        border-bottom: 3px $soft-red solid;
      }
    }
  }

  &__feature {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 416px;

    &.bg-0 {
      background: url("../images/illustration-features-tab-1.svg") left top
        no-repeat;
    }

    &.bg-1 {
      background: url("../images/illustration-features-tab-2.svg") left top
        no-repeat;
    }

    &.bg-2 {
      background: url("../images/illustration-features-tab-3.svg") left top
        no-repeat;
    }
  }

  &__extensions {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3vw;
    margin: 3vw 0;

    .extension {
      width: 18%;
      height: 300px;
      box-shadow: $box-shadow;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--logo {
        width: 100%;
        height: 50%;

        &.chrome {
          background: url("../images/logo-chrome.svg") no-repeat center;
        }

        &.firefox {
          background: url("../images/logo-firefox.svg") no-repeat center;
        }

        &.opera {
          background: url("../images/logo-opera.svg") no-repeat center;
        }
      }

      &--info {
        border-bottom: 3px dotted $grayish-blue;
        width: 100%;
        text-align: center;
        padding-bottom: 2vw;

        &__name {
          color: $very-dark-blue;
          font-weight: 500;
        }

        &__version {
          color: $grayish-blue;
          font-size: 0.8rem;
          margin: 1ch 0;
        }
      }

      &--install {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:nth-child(2) {
        margin-top: 5%;
      }

      &:last-child {
        margin-top: 10%;
      }
    }
  }

  button {
    background-color: $soft-blue;
    color: white;
    padding: 0 20px;
    width: fit-content;
    height: 45px;

    &:hover {
      border: 1px solid $soft-blue;
      color: $soft-blue;
      background-color: white;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.blue-bg-container-feature {
  @extend .blue-bg-container;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
  left: 0;
  bottom: 0;
  width: 30%;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5% 5% 0;
  gap: 2vw;

  &--title {
    font-weight: 500;
    font-size: 2.5rem;
    color: $very-dark-blue;

    &.small {
      font-size: 2rem;
    }
  }

  &--description {
    color: $grayish-blue;
    line-height: 1.5;
  }

  .center {
    text-align: center;
  }
}
